Infinite Rotating Images Using jQuery (JavaScript)
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=3.0.1"></script><script type="text/javascript" src="js/infinite-rotator.js"></script>
</pre>
<h1>Infinite Rotating Images Using jQuery (JavaScript)</h1>
<div id="rotating-item-wrapper"><img class="rotating-item" src="images/greenpeople.jpg" alt="a person entering a building" width="980" height="347" />
 <img class="rotating-item" src="images/entrance.jpg" alt="photo of building across from our office" width="980" height="347" />
 <img class="rotating-item" src="images/bluepeople.jpg" alt="building entrance with neon backlit walls" width="980" height="347" />
 <img class="rotating-item" src="images/reflection3.jpg" alt="building lobby window reflections" width="980" height="347" />
 <img class="rotating-item" src="images/reflection2.jpg" alt="reflection on building windows" width="980" height="347" />
 <img class="rotating-item" src="images/manequine.jpg" alt="two manequines in window" width="980" height="347" /></div>
<pre>

<!-- nnnn-->

#rotating-item-wrapper {
    position: relative;
    width: 980px;
    height: 347px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

<!-- kjbikhuk -->

$(window).load(function() { //start after HTML, images have loaded
 
    var InfiniteRotator =
    {
        init: function()
        {
            //initial fade-in time (in milliseconds)
            var initialFadeIn = 1000;
 
            //interval between items (in milliseconds)
            var itemInterval = 5000;
 
            //cross-fade time (in milliseconds)
            var fadeTime = 2500;
 
            //count number of items
            var numberOfItems = $('.rotating-item').length;
 
            //set current item
            var currentItem = 0;
 
            //show first item
            $('.rotating-item').eq(currentItem).fadeIn(initialFadeIn);
 
            //loop through the items
            var infiniteLoop = setInterval(function(){
                $('.rotating-item').eq(currentItem).fadeOut(fadeTime);
 
                if(currentItem == numberOfItems -1){
                    currentItem = 0;
                }else{
                    currentItem++;
                }
                $('.rotating-item').eq(currentItem).fadeIn(fadeTime);
 
            }, itemInterval);
        }
    };
 
    InfiniteRotator.init();
 
});


 <div class="row" >
        <div class="col-md-12">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="##myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li> 
    <li data-target="#myCarousel" data-slide-to="4"></li> 
    <li data-target="#myCarousel" data-slide-to="5"></li> 
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
      <img src="{% static "img/hajj2015.png" %}" alt="" width="1200" border="0" height="278" />
      <div class="carousel-caption">
        Umurah 2015
      </div>
    </div>
    <div class="item">
      <img src="{% static "img/hajumrahads1.jpg" %}" alt="" width="1200" border="0" height="278" />
    <div class="carousel-caption">
        Umurah Head!
      </div>
    </div>
    
    <div class="item">
      <img src="{% static "img/santa-fe-view.jpg" %}" alt="" width="1200" border="0" height="278" />
    <div class="carousel-caption">
        Santa Nice Picture!
      </div>
    </div>
    <div class="item">
      <img src="{% static "img/seminar.jpg" %}" alt="" width="1200" border="0" height="278" />
      <div class="carousel-caption">
        Seminar Picture Rigth there!
      </div>
    </div>
    <div class="item">
      <img src="{% static "img/wtm.jpg" %}" alt="" width="1200" border="0" height="278" />
      <div class="carousel-caption">
        WTM Folks!
      </div>
    </div>
    <div class="item">
      <img src="{% static "img/seminar.jpg" %}" alt="" width="1200" border="0" height="278" />
      <div class="carousel-caption">
        Seminar again!
      </div>
    </div>
    ...
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      &lsaquo;
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    &rsaquo;
  </a>
</div>

        </div>
    </div>



            <div style="margin-bottom:4px" >
              <img class="thumbnail" src="{%  static "img/had.jpg" %}" width="260" height="170" alt="" style="margin-bottom:4px" />
            </div>

            <!-- nested into second column -->
            <div class="row">
              <div class="col-md-12" >
                  <a href="#"><img class="thumbnail" src="{%  static "img/hajjbook.jpg" %}" width="260" height="170" alt="" style="margin-bottom:4px"/></a>
              </div>
            </div>
            <!-- end nested into second column -->

            <!--nested into second column number two -->
            <div class="row">
              <div class="col-md-12">
                      <a href="onlinepay.php" target="_top"><img class="thumbnail" src="{% static "img/dwldbrochure.gif" %}" width="264" height="180" alt="Online Payment" /></a>
              </div>
            </div>
            <!-- end nested into second column end here -->